/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.container {
  position: relative;
  max-width: 420px; /* 300px * 1.4 */
  width: 100%;
  border-radius: 16.8px; /* 12px * 1.4 */
  padding: 14px 28px 28px; /* 10px 20px 20px * 1.4 */
  background: #fff;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.05); /* 0 5px 10px * 1.4 */
}

.display {
  height: 112px; /* 80px * 1.4 */
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  margin-bottom: 14px; /* 10px * 1.4 */
  font-size: 35px; /* 25px * 1.4 */
  color: #000e1a;
  pointer-events: none;
}

.buttons {
  display: grid;
  grid-gap: 14px; /* 10px * 1.4 */
  grid-template-columns: repeat(4, 1fr);
}

.buttons button {
  padding: 14px; /* 10px * 1.4 */
  border-radius: 8.4px; /* 6px * 1.4 */
  border: none;
  font-size: 28px; /* 20px * 1.4 */
  cursor: pointer;
  background-color: #eee;
}

.buttons button:active {
  transform: scale(0.98);
}

.buttons button.large {
  grid-column: span 2;
}

.buttons button.orange {
  background-color: #ffa117;
}

.buttons button.orange:active {
  background-color: #e08e0b;
}

.buttons button.grey {
  background-color: #d3d4d7;
}

.buttons button.grey:active {
  background-color: #bfc1c5;
}
